<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blogify - Home</title>
    <%- include("./partials/styleHome.ejs") %>
    <!-- <%- include("./partials/newSideBar.ejs") %>   -->
</head>
<body>
    <header>
        <div class="logo">BlogiLogia</div>
        <nav>
            <a href="/">Home</a>
            <a href="#">Blogs</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
        <div class="auth-buttons" style="display:<%= user ? 'none' : 'block' %>;">
            <button class="signin-btn" onclick="handleSignIn()">Sign In</button>
            <button class="signup-btn" onclick="handleSignUp()">Sign Up</button>
        </div>
        <div class="profile-icon" style="display: <%= user ?'block':'none'  %>;" onclick="toggleMenu()">
            <img src="<%= user?.profileImg ? `/uploads/${user.profileImg}` : 'default.jpg' %>" alt="default.jpg">
        </div>
        <!-- <h3><%= JSON.stringify(user) %> </h3> -->
        <div class="popup-menu" id="popupMenu">
            <a href="user/profile">Profile</a>
            <a href="/Blog/add">Add Blogs</a>            
            <a href="#">Settings</a>
            <a href="/user/logout">Logout</a>
        </div>
    </header>
    <main>
    <div class="blog-container" id="blogContainer">
      <!-- Blog cards will be inserted here by JS -->
    </div>
  </main>

<script>

function handleSignIn() {
    window.location.href = '/user/signin';
}
function handleSignUp() {
    window.location.href = '/user/signup';
}
function toggleMenu() {
    const menu = document.getElementById("popupMenu");
    console.log("toggle");
    menu.style.display = menu.style.display === "block" ? "none" : "block";
}
// Close popup if clicked outside
document.addEventListener("click", function(event) {
    const menu = document.getElementById("popupMenu");
    const icon = document.querySelector(".profile-icon");

    if (!menu.contains(event.target) && !icon.contains(event.target)) {
    menu.style.display = "none";
    }
});
const blogs = <%- JSON.stringify(Blogs) %>;
//console.log(blogs);
const blogContainer = document.getElementById("blogContainer");

blogs.forEach(blog => {
  const card = document.createElement("div");
  card.className = "blog-card";
  card.innerHTML = `
    <img src="/blogs/${blog.coverImg}" alt="Blog Image">
    <div class="blog-content">
      <h3>${blog.title}</h3>
      <p>${blog.body}</p>
      <div class="blog-meta">By ${blog.name} (${blog.email})</div>
    </div>
  `;
  blogContainer.appendChild(card);
});
</script>
</body>
</html>
